[submodule "code/shivaUNIX"]
	path = code/shivaUNIX
	url = https://github.com/aretu/shivaUNIX
[submodule "code/RSF-directmodels"]
	path = code/RSF-directmodels
	url = https://github.com/aretu/RSF-directmodels
[submodule "code/JM_permeability"]
	path = code/JM_permeability
	url = git@github.com:aretu/JM_permeability.git
